version: '3.8'

services:
  app:
    image: 'spring-ai-app:latest'
    build:
      context: ../../..
      dockerfile: src/main/docker/Dockerfile
      args:
        - JAR_FILE=target/*.jar
    container_name: spring-ai-app
    depends_on:
      - db
    ports:
      - "8080:8080"
      - "5005:5005"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/compose-postgres
      - SPRING_DATASOURCE_USERNAME=compose-postgres
      - SPRING_DATASOURCE_PASSWORD=compose-postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - JAVA_TOOL_OPTIONS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
          
  db:
    image: 'postgres:13.1-alpine'
    container_name: db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=compose-postgres
      - POSTGRES_PASSWORD=compose-postgres
      - POSTGRES_DB=compose-postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: